.note-form {
    display: none;
}

.note-form-show {
    display: block;
    position: absolute;
    background: rgb(255, 255, 255);
    width: 70%;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}
